﻿
@model SmallBusinessManagementSystem.Models.Models.Product

<h2>Delete Product</h2>
@using (Html.BeginForm("delete", "Product", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.ProductId)
    <div class="form-group">
        <label>Product Code</label>
        <p>@Model.Code</p>
    </div>

    <div class="form-group">
        <label>Product Name</label>
        <p>@Model.Name</p>
    </div>


    <div>
        <input type="submit" value="Delete" />
    </div>
}
