﻿
@model SmallBusinessManagementSystem.Models.Models.Product

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

