﻿@model SmallBusinessManagementSystem.Models.Models.Product
<style type="text/css">.popupForm { }</style>

<h2>Save</h2>
@using (Html.BeginForm("Save", "Product", FormMethod.Post, new { id = "popupForm" }))

{
    if (Model != null && Model.ProductId > 0)
    {
        @Html.HiddenFor(a => a.ProductId)
    }

    <div class="form-group">
        <label>Product Code</label>
        @Html.TextBoxFor(a => a.Code, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Code)
    </div>
    <div class="form-group">
        <label>Product Name</label>
        @Html.TextBoxFor(a => a.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(a => a.Name)
    </div>
    <div class="form-group">
       @Html.LabelFor(model => model.CategoryId, "CategoryId", new { @class = "control-label col-md-2" })
        @Html.DropDownList("CategoryId", String.Empty)
        @Html.ValidationMessageFor(a => a.CategoryId)
    </div>
    <div class="form-group">
        <label>Reorder Level</label>
        @Html.TextBoxFor(a => a.ReorderLevel, new {@class = "form-control"})
        @Html.ValidationMessageFor(a => a.ReorderLevel)
    </div>
    <div class="form-group">
        <label>Description</label>
        @Html.TextBoxFor(a => a.Description, new {@class = "form-control"})
        @Html.ValidationMessageFor(a => a.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.ImagePath, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="ImageFile" name="ImageFile" required>
        </div>
    </div>

    <div>
        <input type="submit" name="btn" value="Save" />
    </div>
}
<script type="text/javascript">

    function FileUploadClick() {

        var formData = new FormData();
        var totalFiles = document.getElementById("ImageFile").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("ImageFile").files[i];

            formData.append("ImageFile", file);
        }

        $.ajax({
            type: "POST",
            url: '/product/Upload',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                alert('succes!!');
            },
            error: function (error) {
                alert("errror");
            }
        });
    }

    $(function () {
     $("input:file").change(function () {
         alert("File choosen");
         FileUploadClick();

     });
  });
</script>

