﻿@model SmallBusinessManagementSystem.Models.Models.Purchase



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Puchase Header</div>
                </div>

                <div class="panel-body">
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Date, "Date", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Date, null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.InvoiceNumber, "Invoice Number", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.InvoiceNumber, null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.PurchaseSupplierId, "Supplier", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.PurchaseSupplierId, null, new { @class = "form-control" })
                        </div>


                    </div>


                </div>



            </div>



        </div>

        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Puchase Details</div>
                </div>

                <div class="panel-body">
                    <div class="form-group row">
                        @Html.Label("PurchaseProductId", "Product Id", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseProductId", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseProductCode", "Product Code", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseProductCode", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseManufacturedDate", "Manufactured Date", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseManufacturedDate", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseExpireDate", "Expire Date", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseExpireDate", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseQty", "Purchase Quantity", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseQty", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseUnitPrice", "Unit Price", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseUnitPrice", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseTotalPrice", "Total Price", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseTotalPrice", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchasePreviousPrice", "Previous Cost Price", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchasePreviousPrice", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchasePreviousMRP", "Previous MRP", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchasePreviousMRP", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseNewCostPrice", "New Cost Price", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseNewCostPrice", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("PurchaseNewMRP", "New MRP", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("PurchaseNewMRP", null, new { @class = "form-control" })
                        </div>


                    </div>

                    <div>
                        <input type="button" id="AddButton" value="Add" class="btn btn-info" />
                    </div>



                </div>



            </div>



        </div>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Added Puchase Details</div>
                </div>

                <div class="panel-body">

                    <table class="table table-bordered table-hover table-striped table-responsive">

                        <thead>
                            <tr style="background-color: green; color: white; font-weight: bold">
                                <td>Sl</td>
                                <td>Products(Code)</td>
                                <td>Manufactured Date</td>
                                <td>Expire Date</td>
                                <td>Purchased Quantity</td>
                                <td>Unit Price</td>
                                <td>Total Price</td>
                                <td>Previous CP</td>
                                <td>Precious MRP</td>
                                <td>New CP</td>
                                <td>New MRP</td>
                            </tr>
                        </thead>
                        <tbody id="PurchaseDetailsTable"></tbody>

                    </table>



                </div>



            </div>

        </div>

        <div class="col-md-4 col-md-offset-4">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    }

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    <script src="~/Scripts/SmallBusinessManagementSystem/Purchase/PurchaseCreate.js"></script>



</body>
</html>


