﻿
@model SmallBusinessManagementSystem.Models.Models.Sales



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm())
    {
        
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Puchase Header</div>
                </div>

                <div class="panel-body">
                    <div class="form-group row">
                        @Html.LabelFor(m => m.CustomerId, "Customer", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.CustomerId, null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Date, "Date", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Date, null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.EarnedLoyalityPoint, "Loyality Point", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.EarnedLoyalityPoint, null, new { @class = "form-control" })
                        </div>


                    </div>


                </div>



            </div>



        </div>

        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Puchase Details</div>
                </div>

                <div class="panel-body">
                    <div class="form-group row">
                        @Html.Label("SalesProductId", "Product", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("SalesProductId", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("SalesAvailableQuantity", "Available Quantity", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("SalesAvailableQuantity", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("SalesQuantity", "Quantity", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("SalesQuantity", null, new { @class = "form-control" })
                        </div>


                    </div>
                    <div class="form-group row">
                        @Html.Label("SalesUnitPrice", "Unit Price", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("SalesUnitPrice", null, new { @class = "form-control" })
                        </div>


                    </div>
                   
            

                    <div>
                        <input type="button" id="AddButton" value="Add" class="btn btn-info" />
                    </div>



                </div>



            </div>



        </div>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Added Product Details</div>
                </div>

                <div class="panel-body">

                    <table class="table table-bordered table-hover table-striped table-responsive">

                        <thead>
                            <tr style="background-color: green; color: white; font-weight: bold">
                                <td>Sl</td>
                                <td>Product</td>
                                <td>Quantity</td>
                                <td>Unit Price</td>
                                <td>Total Price</td>
                                
                            </tr>
                        </thead>
                        <tbody id="SalesDetailsTable"></tbody>

                    </table>



                </div>



            </div>

        </div>

        <div class="col-md-4 col-md-offset-4">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    }

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="~/Scripts/SmallBusinessManagementSystem/Sales/SalesCreate.js"></script>
   



</body>
</html>



