﻿
@model SmallBusinessManagementSystem.Models.Models.Category

<h2>Delete Employee</h2>
@using (Html.BeginForm("delete", "Category", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.CategoryId)
    <div class="form-group">
        <label>Category Code</label>
        <p>@Model.Code</p>
    </div>

    <div class="form-group">
        <label>Category Name</label>
        <p>@Model.Name</p>
    </div>

   
    <div>
        <input type="submit" value="Delete" />
    </div>
}
