﻿
@model SmallBusinessManagementSystem.Models.Models.Category

<h2>Save</h2>
@using (Html.BeginForm("save", "Category", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.CategoryId > 0)
    {
        @Html.HiddenFor(a => a.CategoryId)
    }

    <div class="form-group">
        <label>Category Code</label>
        @Html.TextBoxFor(a => a.Code, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Code)
    </div>
    <div class="form-group">
        <label>Category Name</label>
        @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Name)
    </div>
   
    <div>
        <input type="submit" value="Save" />
    </div>
}
